.kanit-regular {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
.kanit-semibold {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
}